@charset "utf-8";


/*header*/
#header{
    width:100%;
    padding:40px 0;
    position:absolute;
    z-index:1;
}
#header h1{
    float:left;
    margin-left:40px;
}
#header h1 a{
    display:block;
    width:100%;
}
#header h1 img{
    width:100%;
}


.gnb{
    height:49px;
    line-height:49px;
    position:absolute;
    right:50%;
    margin-right:-600px;
    font-family:'NotoSans',sans-serif;
    font-size:18px;
    font-weight:600;
}
.gnb li{
    float:left;
    margin-left:30px;
}
.gnb li a{}

/*footer*/
#footer{
    color:#fff;
    padding:40px 0;
    background:#8d8d8d ;
}
#footer .inner{background:url(../images/common/fLogo.png) no-repeat 97% 90%;}
.fInfo{
    display:inline-block;
}
.fInfo li{
    float:left;
    margin-right:30px;
}
.fInfo li a{color:#fff;}

#footer p{
    color:#d5d5d5;
    margin-top:30px;
}
#footer span{
    display:inline;
}